.home{
  &__header{
    .uk-navbar-nav{
      >li{
        >a{
          color: #ffffff;
          @extend .fz-14;
          font-family: $font-BeVietnamPro-Regular;
        }
        &:nth-child(n+2){
          >a{
            position: relative;
            &:before{
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              height: 15px;
              border-left: 1px solid currentColor;
            }
          }
        }
      }
    }
    .uk-logo{
      $x:20px;
      border-radius: 0 0 #{$x} #{$x};
    }
    .uk-navbar-toggle{
      color: #ffffff;
      font-family: $font-BeVietnamPro-Regular;
    }
  }
  &__block07{
    background-color: #E2E4E4;
  }
  &__block06{
    background-color: #B1360E;
    &__card{
      background-color: #E77126;
      border-radius: 16px;
      &__number{
        color: #ffffff;
        font-family: $font-Roboto-Bold;
        //@extend .fz-38;
        //line-height: (46/38);
      }
      &__label{
        //@extend .fz-13;
        //line-height: (16/13);
        color: #ffffff;
        //font-family: $font-Roboto-Bold;
      }
      &__separator{
        color: #ffffff;
      }
    }
    &__input{
      @extend .fz-16;
      line-height: (19/16);
      font-family: $font-Roboto-LightItalic;
      color: #575756;
    }
    &__label{
      @extend .fz-16;
      line-height: (19/16);
      font-family: $font-Roboto-Medium;
      color: #ffffff;
    }
  }
  &__block05{
    background-color: #E77126;
    &__card{
      border-radius: 40px;
    }
    &__txt1{
      @extend .fz-16;
      line-height: (19/16);
      font-family: $font-Roboto-LightItalic;
    }
    &__txt2{
      @extend .fz-16;
      line-height: (19/16);
      font-family: $font-Roboto-Bold;
      color: #1D1D1B;
    }
  }
  &__block04{
    &__tab{
      &__li{

      }
      &__a{
        background-color: #E4E4E4;
        $x:16px;
        border-radius: #{$x} #{$x} 0 0;
        color: #1D1D1B !important;
        @extend .fz-18;
        font-family: $font-BeVietnamPro-SemiBold;
        padding: 0px 10px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 37px;
        .uk-active> &{
          background-color: #E77126;
          border-color: #E77126 !important;
          color: #ffffff !important;
        }
      }
    }
    &__card{
      background-color: #BFBFBF;
      padding: 20px;
      @include media-breakpoint-up('m'){
        padding: 40px;
      }
    }
    &__txt{
      @extend .fz-16;
      line-height: (19/16);
      font-family: $font-BeVietnamPro-SemiBold;
      color: #1D1D1B;
    }
    &__box1{
      padding-left: 45px;
      @include media-breakpoint-up('m'){
        padding-left: 45px;
      }
      position: relative;
      &:before{
        content: attr(data-count);
        color: #E77126;
        @extend .fz-33;
        font-family: $font-Gotham-Ultra;
        position: absolute;
        top: -12px;
        left: 15px;
        @include media-breakpoint-up('m'){
          top: -17px;
          left: 14px;
        }
      }
      &__txt{
        @extend .fz-13;
        line-height: (16/13);
        font-family: $font-BeVietnamPro-Regular;
        color: #231F20;
      }
    }
  }
  &__block03{
    background-color: #E77126;
    $x:30px;
    clip-path: polygon(100% 0, 100% calc(100% - #{$x}), 0 100%, 0 #{$x});
    @include media-breakpoint-up('m'){
      $x:60px;
      clip-path: polygon(100% 0, 100% calc(100% - #{$x}), 0 100%, 0 #{$x});
    }
    &__list{
      >li{
        color: #ffffff;
        @extend .fz-16;
        line-height: (19/16);
        font-family: $font-Roboto;
      }
    }
    &__cover{
      background-color: #FF8F00;
      background-position: center;
      background-repeat: no-repeat;
    }
    &__box1{
      min-height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      &--c1{
        background-color: #FFBA00;
        span{
          @extend .fz-18;
          font-family: $font-BeVietnamPro-SemiBold;
          color: #000;
          text-transform: uppercase;
        }
      }
      &--c2{
        span{
          @extend .fz-14;
          font-family: $font-BeVietnamPro-Light;
          color: #1D1D1B;
          text-transform: uppercase;
        }
      }
    }
  }
  &__block02{
    &__box2{
      &__title{
        @extend .fz-22;
        line-height: (26/22);
        font-family: $font-BeVietnamPro-SemiBold;
        color: #E77126;
      }
      &__desc{
        @extend .fz-16;
        line-height: (19/16);
        color: #4D4D4D;
        font-family: $font-BeVietnamPro-Regular;
      }
      &__cover{
        background-color: #E77126;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &__box1{
      &__txt1{
        color: #4D4D4D;
        font-family: $font-BeVietnamPro-Medium;
        @extend .fz-16;
        line-height: (19/16);
      }
      &__txt2{
        font-family: $font-BeVietnamPro-Bold;
        color: #E77126;
        @extend .fz-52;
      }
      &__txt3{
        @extend .home__block02__box1__txt1;
        color: #E77126;
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 100px;
      }
    }
    &__item1{
      &:nth-child(n+2){
        margin-top: 30px;
        @include media-breakpoint-up('m'){
          margin-top: 50px;
        }
      }
    }
    &__title{
      @extend .fz-30;
      line-height: (36/30);
      font-family: $font-BeVietnamPro-Black;
      color: #E77126;
      text-transform: uppercase;
    }
    &__desc{
      @extend .fz-16;
      font-family: $font-BeVietnamPro-SemiBold;
      line-height: (19/16);
      color: #1D1D1B;
    }
  }
  &__block01{
    @include media-breakpoint-up('m'){
      min-height: 720px;
    }
    background-color: #E77126;
    &__section{
      padding-top: 120px;
      @include media-breakpoint-up('m'){
        padding-top: 70px;
      }
    }
    &__form{
      &__title{
        @extend .fz-20;
        font-family: $font-BeVietnamPro-Bold;
        line-height: (24/20);
        color: #E77126;
      }
      &__input{
        @extend .fz-16;
        color: #666666;
      }
      &__btn{
        background: #E77126;
        border-color: #E77126;
        color: #ffffff;
        &:hover{
          background: #ffffff;
          color: #E77126;
        }
        span{
          @extend .fz-18;
          font-family: $font-BeVietnamPro-Bold;
        }
      }
    }
    &__card{
      //min-height: 465px;
      @include media-breakpoint-up('m'){
        border-radius: 40px;
      }
    }
    &__boxitem1{
      >*{
        &:nth-child(n+2){
          margin-top: 10px;
        }
      }
    }
    &__title{
      color: #ffffff;
      @extend .fz-42;
      line-height: (50.4/42);
      font-family: $font-BeVietnamPro-Black;
    }
    &__txt{
      color: #ffffff;
      @extend .fz-22;
      line-height: (26.4/22);
      font-family: $font-BeVietnamPro-SemiBold;
    }
  }
}